<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Start analytics</title>
    </head>
    <body>
        <form action="{% url 'analytics' %}" method="POST"> {% csrf_token %}
            <fieldset>
                <legend>Enter user ID and approximate time</legend>
                <ul class=form-fields>
                    <li>
                        <label for=user_id>User ID</label>
                        <input type=text name=user_id>
                    </li>

                    <li>
                        <label for=time>Time (e.g. 16:30)</label>
                        <input type=text name=time>
                    </li>

                    <input type=text name=auth value=true hidden>
                </ul>
            </fieldset>
           <!-- <script type=text/javascript>
                if (errored=='error') {
                    document.write(errored);
                }
            </script>-->
            <input type=submit value=Analyse>
        </form>
    </body>
</html>

