<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
</head>
<body>
    <form action="{% url 'index_market' %}" method="POST">
	{% csrf_token %}
        <table border="5">
            <tr align="center"> Check your campaign details
                <th align="center">Campaign name</th>
                <th align="center">Venue</th>
                <th align="center">Distance in meters</th>
                <th align="center">Tags to offer</th>
                <th align="center">Message</th>
            </tr>
            <tr align="center">
                <td align="center">
                    {{ campaign_name }}
                </td>
                <td align="center">
                    {{ venue }}
                </td>
                <td align="center">
                    {{ distance }}
                </td>
                <td id='content_id' align="center">

                </td>
                <td align="center">
                    {{ message }}
                </td>
            </tr>
        </table>
        <script>
{#            {{ content }}#}
            var content = "{{ content|safe }}";
            content = content.replace(/u/g, '')
            content = content.replace(/'/g, '"')
            content = JSON.parse(content);
            var final_content = "";
            for (var i = 0; i < content.length; i++) {
                if (i != content.length - 1) {
                    final_content = final_content + content[i] + ", ";
                } else {
                    final_content = final_content + content[i]
                }
            }
            document.getElementById('content_id').innerHTML = final_content;
        </script>
        <input id="campaign_name_id" type=text name=campaign_name value='{{ campaign_name }}' hidden>
        <input id="venue_id" type=text name=venue value='{{ venue }}' hidden>
        <input id="distance_id" type=text name=distance value='{{ distance }}' hidden>
        <input id="content_id" type=text name=content value='{{ content }}' hidden>
        <input id="message_id" type=text name=message value='{{ message }}' hidden>
        <input type=text name=new_campaign value="true" hidden>
        <input type=submit value="Confirm">
    </form>

    <form action="{% url 'create' %}" method="GET">
        <input type=submit value="Return">
    </form>

</body>
</html>
