{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Clients</title>#}
{#    </head>#}
{#    <body>#}
{#        <table id="clients_data">#}
{#            <tr>#}
{#                <th class="not-sortable">Name</th>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>First TD</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Second TD</td>#}
{#            </tr>#}
{#        </table>#}
{#        <script>#}
{#            var table = document.getElementById("clients_data");#}
{#            var rows = table.rows;#}
{#            var data = {{ data|safe }};#}
{#            for(var i = 1, td; i < data.length; i++){#}
{#                var row = table.insertRow(i);#}
{#                var cell1 = row.insertCell(0);#}
{#                var feld = document.createElement("input");#}
{#                feld.type = "button";#}
{#                feld.value = data[i];#}
{#                cell1.appendChild(feld);#}
{#                row.insertCell(1);#}
{#            }#}
{#        </script>#}
{#    </body>#}
{#</html>#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Venues</title>
    </head>
    <body>
        <form>
            <select size = "25" multiple id="venue_list"></select>

        </form> {{ venue_name }} {{ distance }} {{ message }}
        <script>
            var venues = document.getElementById("venue_list");
            var data = {{ data|safe }};
            for(var i = 1, td; i < data.length; i++){
                var option = document.createElement("option");
                option.text = data[i];
                venues.add(option);
            }
            venue_name = venues.value;
        </script>
        <form action="{% url 'campaign_preview' %}" method="GET">
            <input type=submit value="Создать">
        </form>
    </body>
</html>

{#<!DOCTYPE html>#}
{#<html>#}
{#<body>#}
{##}
{#<form>#}
{#  <select id="mySelect" size="8">#}
{#    <option>Apple</option>#}
{#    <option>Pear</option>#}
{#    <option>Banana</option>#}
{#    <option>Orange</option>#}
{#  </select>#}
{#</form>#}
{#<br>#}
{##}
{#<p>Select an option in the dropdown list. Then click the button below to add a "Kiwi" option before the selected option.</p>#}
{##}
{#<button type="button" onclick="myFunction()">Insert option before selected</button>#}
{##}
{#<script>#}
{#function myFunction() {#}
{#    var x = document.getElementById("mySelect");#}
{#    if (x.selectedIndex >= 0) {#}
{#        var option = document.createElement("option");#}
{#        option.text = "Kiwi";#}
{#        var sel = x.options[x.selectedIndex];#}
{#        x.add(option, sel);#}
{#    }#}
{#}#}
{#</script>#}
{##}
{#</body>#}
{#</html>#}
