<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create</title>
        <style>
            select {
                width: 500px;
            }
        </style>
    </head>

    <body>
        <form action="{% url 'campaign_preview' %}" method="GET">
            <table>
                <tr>
                    <th>Enter campaign name</th>
                    <th>Choose venue</th>
                    <th>Choose menu items</th>
                    <th>Enter distance in meters</th>
                    <th>Enter your message</th>
                </tr>
                <tr>
                    <td>
                        <label for=campaign_name></label>
                        <input type=text name=campaign_name value='My campaign'>
                    </td>
                    <td>
                        <select size = "25" id="venue_list" name="venue"> </select>
                    </td>
                    <td>
                        <select size = "25" id="item_list" name="item"> </select>
                    </td>
                    <td>
                        <label for=distance></label>
                        <input type=text name=distance value=250>
                    </td>
                     <td>
                        <label for=message></label>
                        <input type=text name=message value='Welcome!'>
                    </td>
                </tr>
            </table>

            {{ venue_name }} {{ item_name }} {{ distance }} {{ message }} {{ tag_name }}
            <script>
                var venues = document.getElementById("venue_list");
                var venue_data = {{ venue_data|safe }};
                for(var i = 0; i < venue_data.length; i++){
                    var option = document.createElement("option");
                    option.text = venue_data[i];
                    venues.add(option);
                }
                venue_name = venues.value;

    {#            if (document.getElementById("mySelect").selectedIndex != -1) {#}
    {##}
    {#            }#}

                var items = document.getElementById("item_list");
                var item_data = {{ item_data|safe }};
                for(var i = 0; i < item_data.length; i+=2){
                    var option = document.createElement("option");
                    option.text = (item_data[i] + ' (' + item_data[i+1]  + ')');
                    items.add(option);
                }
                item_name = items.value.replace(/\s+\(\d+\)$/, '')
            </script>

            <input type=submit value="Создать">
        </form>

    </body>
</html>
