<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current</title>
</head>

<body>
    <form action="{% url 'campaign_details' %}" method="GET">
        <table>
            <tr>
                <th>Choose campaign</th>
            </tr>
            <tr>
                <td>
                    <select size = "25" multiple id="venue_list" name="campaign_detailed"> </select>
                </td>
            </tr>
        </table>
        <script>
            var campaigns = document.getElementById("venue_list");
            var campaign = {{ data|safe }};
            for(var i = 0; i < campaign.length; i++){
                var option = document.createElement("option");
                option.text = campaign[i];
                campaigns.add(option);
            }
            campaign_detailed = campaigns.value;
        </script>
        <input type=submit name=current_campaigns value='Details'>
	<input type=submit name=remove value='Remove'>
    </form>
    </body>
</html>
