<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        {% load staticfiles %}
        <link href="{% static "index.css" %}" rel="stylesheet"> 
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>
<!---        <style>
            .h1 {
                text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px; 
                margin: 100px 0 18px; vertical-align: 55px;}
            .button {
                background-color: #330000; width: 300px; height: 50px; font-family: 'Impact'; border: none; color: #990000; padding: 15px 32px; text-align: center;
                cursor: pointer; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; moz-border-radius: 50px;
                -webkit-border-radius: 10px; -webkit-transition-duration: 0.5s; margin: 25px;}
            .button1 {
                background-color: #330000; 
                color: #f9f2ec;}
            .button1:hover {
                background-color: #f9f2ec;
                color: #330000;}
        </style>-->
    </head>
    <body id='root'>
        <h1 class=h1>Login or signup?<h1>
        <form id="login_form" align=center action="{% url 'signin' %}"></form>
        <form id="sign_up_form" align=center action="{% url 'register' %}"></form>
    </body>
    <script type="text/babel">
        let Button = mui.react.Button;
        const sign_up = <Button color="primary">Signup</Button>;
        const login = <Button variant="flat" color="primary">login</Button>;
        ReactDOM.render(sign_up, document.getElementById('sign_up_form'));
        ReactDOM.render(login, document.getElementById('login_form'));
    </script>
</html>
