<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Campaigns</title>
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        <!--<link href="index.css" rel="stylesheet" type="text/css" /> -->
        <!---{% load staticfiles %}
        <link href="{% static "/index.css" %}" rel="stylesheet">-->
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>
        <script src="https://unpkg.com/classnames/index.js"></script>
        <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
        <script src="https://unpkg.com/react-select/dist/react-select.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.1.0/nouislider.css" rel="stylesheet">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.1.0/nouislider.js"></script>
        <link href="nouislider.min.css" rel="stylesheet">
        <script src="nouislider.min.js"></script>
    </head>
        <style>
            .h1 {
                text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px;
                margin: 100px 0 18px; vertical-align: 55px;}
            /**
 * Body CSS
 */
html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 0px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
/**
 * Side drawer CSS
 */
#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


div.ex1 {
    width:100%;
    margin: auto;
}

table {
    table-layout: fixed;
/*    width: 100%;    */
}

th,td {
    word-wrap: break-word;
}

th.full {
    word-wrap: normal;
}

th.full {
    word-wrap: normal;
}

th.id {
    word-wrap: normal;
    width: 50px;
}

th.id {
    word-wrap: normal;
    width: 50px;
}

th.status {
    word-wrap: normal;
    width: 60px;
}

th.status {
    word-wrap: normal;
    width: 60px;
}

th.distance {
    word-wrap: normal;
    width: 80px;
}

th.distance {
    word-wrap: normal;
    width: 80px;
}

th.venue_id {
    word-wrap: normal;
    width: 80px;
}

th.venue_id {
    word-wrap: normal;
    width: 80px;
}


'''.mui-container,
.mui-container-fixed {
  padding-top: 15px;
  padding-bottom: 15px;
}'''
        </style>
    </head>
   

    <body>
        <div id="sidedrawer" class="mui--no-user-select">
            <div id="sidedrawer-brand" class="mui--appbar-line-height">
                <span class="mui--text-title">ASAP analytics</span>
            </div>
            <div class="mui-divider"></div>
            <ul>
                <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/">
                    <li>
                        <strong>Dashboard</strong>
                    </li>
                </a>
                <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/campaign_menu/">
                    <li>
                        <strong>Campaigns</strong>
                    </li>
                </a>
                <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/analytics/">
                    <li>
                        <strong>Geo analytics</strong>
                    </li>
                </a>
                <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/recommend/">
                    <li>
                        <strong>Recommendations</strong>
                    </li>
                </a>
                <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/events/">
                    <li>
                        <strong>Events</strong>
                    </li>
                </a>
            </ul>
        </div>
        <header id="header">
            <div class="mui-appbar mui--appbar-line-height">
                <div class="mui-container-fluid">
                    <h3>Campaigns</h3>
                </div>
            </div>
        </header>
        <div id="content-wrapper">
            <div class="mui--appbar-height"></div>
            <div class="mui-container-fluid">
                <br>
                <div align=right>
                    <button class="mui-btn mui-btn--fab mui-btn--accent" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">+</button>
                </div>
                <br>
                <div id='content'>
                 <!--   <div class="mui-container"> -->
<!--                        <div class="mui-panel">      -->
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <form action="{% url 'campaign_menu' %}" method="POST">
                                            <div class="modal-header">
                                                <div class="mui-textfield">
                                        <!--            <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                                    <input type="text" width=40px value="New campaign" name="campaign_name" />
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div id='creation_place'></div>
                                                <h4>Message:</h4>
                                                <div class="mui-textfield mui-textfield--float-label">
                                                    <textarea name="message"></textarea>
<!--                                                    <input type="text" placeholder="Message" name="message" /> -->
                                                </div>
                                                <h4>Radius:</h4>
                                                <div id='slider' class='ex1'></div>
                                                <input type="hidden" id="radius" name="distance" value="" />
                                                <input type="hidden" name="create" />
                                                <div id='slider-range-value' align=left class='ex1'></div>
                                            </div>
                                            <div id='button_place' class="modal-footer">
                                                <button id='create_button' class="mui-btn mui-btn--small mui-btn--accent" disabled=true>Create</button> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <div class="mui-panel" style="height: 500px;position:relative; overflow: scroll">
                            <table class="mui-table mui-table--bordered">
                                <thead>
                                    <tr>
                                        <th class='id'>ID</th>
                                        <th class='status'>Status</th>
                                        <th class='distance'>Distance</th>
                                        <th>Date started</th>
                                        <th>Campaign name</th>
                                        <th class='venue_id'>Venue ID</th>
                                        <th>Venue name</th>
                                        <th>Message</th>
                                        <th>Tags</th>
                                        <th class='full'><div>Management</div></th>
                                    </tr>
                                </thead>
                                <tbody id='campaigns'>
                                </tbody>
                            </table>
                            
                            </div>

                        </div>
               <!--     </div>
                </div> -->
            </div>
        </div>
<!--        <footer id="footer">
            <div class="mui-container-fluid">
                <br>
                И тут можно что-то написать, например, контакты
            </div>
        </footer> -->
    </body>

    <script type="text/babel">
                    var table = document.getElementById("campaigns");
                    var campaign = {{ data|safe }};
                    for (var i = 0; i < campaign.length; i+=9) {
                        var row = table.insertRow(-1);
                        var id = campaign[i];
                        for (var j = 0; j < 9; j++) {
                            var option = document.createElement("option");
                            option.text = "";
                            if (j == 8) {
                                var qq = campaign[i + j].split(', ');
                                for (var k = 0; k < qq.length; k++) {
                                    if (qq.length == 1) {
                                        option.text += qq[k].substr(3, qq[k].length - 5).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));});
                                    } else if (k == 0) {
                                        option.text += qq[k].substr(3, qq[k].length - 4).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));}) + "-";
                                    } else if (k == qq.length - 1) {
                                        option.text += qq[k].substr(2, qq[k].length - 4).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));});
                                    } else {
                                        option.text += qq[k].substr(2, qq[k].length - 3).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));}) + "-";
                                    }
                                }
                            } else {
                                option.text = campaign[i + j];
                            }
                            var cell = row.insertCell(j);
                            cell.innerHTML = option.text;
                        }
                        var cell = row.insertCell(9);
                        cell.innerHTML = '<form action="{% url 'campaign_details' %}" method="GET"><button name="remove_id" value=' + id + ' class="mui-btn mui-btn--raised mui-btn--primary">Remove</button></form>';
        }
        var venue_to_item = {{ venue_item|safe }};
        var item_options = [
        ];
	var ItemField = React.createClass({
        	displayName: 'ItemField',
	        propTypes: {
        	        label: React.PropTypes.string,
                	searchable: React.PropTypes.bool,
	        },
        	getDefaultProps () {
                	return {
                        	label: 'Item:',
	                        searchable: true,
        	        };
	        },
        	getInitialState () {
                	return {
                        	disabled: false,
	                        searchable: this.props.searchable,
        	                clearable: true,
	                };
	        },
	        switchCountry (e) {
        	        var newCountry = e.target.value;
                	this.setState({
                        	country: newCountry,
	                        selectValue: null 
        	        });
	        },
        	updateValue (newValue) {
	                this.setState({
        	            selectValue: newValue
	                });
                        if (newValue) {
                            document.getElementById("create_button").disabled=false;    
			} else {
                            document.getElementById("create_button").disabled=true;
                        }
	        },
	        focusStateSelect () {
        	        this.refs.stateSelect.focus();
	        },
	        toggleCheckbox (e) {
        	        let newState = {};
                	newState[e.target.name] = e.target.checked;
	                this.setState(newState);
        	},
		render () {
        	        return (
                	        <div className="section">
                        	        <h4 className="section-heading">{this.props.label}</h4>
                                	<Select ref="stateSelect" multi autosize={true} autofocus options={item_options} clearable={this.state.clearable} name="selected_item" disabled={this.state.disabled} value={this.state.selectValue} onChange={this.updateValue} searchable={this.state.searchable} />
                        	</div>
                	);
        	}
	});
        var venue_options = [
        ];
        var venue_names = Object.keys(venue_to_item);
        for (var i = 0; i < venue_names.length; i++) {
            venue_options.push({value: venue_names[i], label: venue_names[i]})
        }

        var VenueField = React.createClass({
	displayName: 'VenueField',
	propTypes: {
		label: React.PropTypes.string,
		searchable: React.PropTypes.bool,
	},
	getDefaultProps () {
		return {
			label: 'Venue:',
			searchable: true,
		};
	},
	getInitialState () {
		return {
			disabled: false,
			searchable: this.props.searchable,
			clearable: true,
		};
	},
	switchCountry (e) {
		var newCountry = e.target.value;
		this.setState({
			country: newCountry,
			selectValue: null 
		});
	},
	updateValue (newValue) {
		this.setState({
			selectValue: newValue
		});
                item_options = [];
                if (newValue) {
                    var items = venue_to_item[newValue];
                    for (var i = 0; i < items.length; i++) {
                        item_options.push({value: items[i], label: items[i]});
                    }
                    ReactDOM.render(<div><VenueField /><ItemField /></div>, document.getElementById('creation_place'));
                } else {
                    document.getElementById("create_button").disabled=true;             
                    ReactDOM.render(<div><VenueField /></div>, document.getElementById('creation_place'));
                }
	},
	focusStateSelect () {
		this.refs.stateSelect.focus();
	},
	render () {
		return (
			<div className="section">
				<h4 className="section-heading">{this.props.label}</h4>
				<Select ref="stateSelect" autofocus options={venue_options} simpleValue clearable={this.state.clearable} name="selected_venue" disabled={this.state.disabled} value={this.state.selectValue} onChange={this.updateValue} searchable={this.state.searchable} />
			</div>
		);
	}
});
        var slider = document.getElementById('slider');

noUiSlider.create(slider, {
	start: [ 50 ],
        step: 1,
	range: {
		'min': [  20 ],
		'max': [ 1000 ]
	}
});


var rangeSliderValueElement = document.getElementById('slider-range-value');
    slider.noUiSlider.on('update', function( values, handle ) {
        var rad = parseInt(values[handle])
	rangeSliderValueElement.innerHTML = rad + " meters";
        document.getElementById("radius").value = rad;
});

        ReactDOM.render(<div><VenueField /></div>, document.getElementById('creation_place'));

    </script>

<!--    <body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/campaign_menu/?">Manage campaigns</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/analytics/">Geo analytics</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/recommend/">Recommend</a>
        </div>
        <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/?mail=&pwd=&auth=true"><img src="https://static.wixstatic.com/media/daa167_dd9cd9b061cc4cd1aa1af4df71f74243.png/v1/fill/w_1200,h_876,al_c,q_85,usm_0.66_1.00_0.01/daa167_dd9cd9b061cc4cd1aa1af4df71f74243.webp" width="5%" height="5%"/></a>
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <form action="{% url 'campaign_details' %}" method="GET">
                <h1 class=h1>Campaign management</h1>
                <table id=campaigns>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Distance</th>
                        <th>Date started</th>
                        <th>Campaign name</th>
                        <th>Venue ID</th>
                        <th>Venue name</th>
                        <th>Message</th>
                        <th>Tags</th>
                        <th>Management</th>
                    </tr>
                </table>
            </form>
                {{ campaign_detailed }}
                <script>
                    var table = document.getElementById("campaigns");
                    var campaign = {{ data|safe }};
                    for (var i = 0; i < campaign.length; i+=9) {
                        var row = table.insertRow(-1);
                        for (var j = 0; j < 9; j++) {
                            var option = document.createElement("option");
                            option.text = "";
                            if (j == 8) {
                                var qq = campaign[i + j].split(', ');
                                for (var k = 0; k < qq.length; k++) {
                                    if (qq.length == 1) {
                                        option.text += qq[k].substr(3, qq[k].length - 5).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));});
                                    } else if (k == 0) {
                                        option.text += qq[k].substr(3, qq[k].length - 4).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));}) + "-";
                                    } else if (k == qq.length - 1) {
                                        option.text += qq[k].substr(2, qq[k].length - 4).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));});
                                    } else {
                                        option.text += qq[k].substr(2, qq[k].length - 3).replace(/\\u[\dA-F]{4}/gi, function (match) {
return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));}) + "-";
                                    }
                                }
                            } else {
                                option.text = campaign[i + j];
                            }
                            var cell = row.insertCell(j);
                            cell.innerHTML = option.text;
                        }
                        var cell = row.insertCell(9);
                        cell.innerHTML = '<input id="Button" class="button button1" type="submit" value="Manage"/>';
                    }
                    campaign_detailed = campaigns.value;
                </script> 
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "50%";
                document.getElementById("main").style.marginLeft = "50%";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
        </script>
        <script>
            var status = '{{ status_code }}'
            if (status == 0) {
                document.getElementById("error").style.visibility='visible';
            } else {
                document.getElementById("error").style.visibility='hidden';
            }
        </script>  
    </body>-->
</html>

