<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        <!--<link href="index.css" rel="stylesheet" type="text/css" /> -->
        <!---{% load staticfiles %}
        <link href="{% static "/index.css" %}" rel="stylesheet">-->
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>
        <style>
            .h1 {
                text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px; 
                margin: 100px 0 18px; vertical-align: 55px;}
        </style>
    </head>
    <body id='root'>
        <h1 class='h1'>Login or signup?<h1>
        <form id="login_form" align=center action="{% url 'signin' %}"></form>
        <form id="sign_up_form" align=center action="{% url 'register' %}"></form>
    </body>
    <script type="text/babel">
        let Button = mui.react.Button;
        const sign_up = <Button color="primary">Signup</Button>;
        const login = <Button variant="flat" color="primary">login</Button>;
        ReactDOM.render(sign_up, document.getElementById('sign_up_form'));
        ReactDOM.render(login, document.getElementById('login_form'));
    </script>
</html>
