<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        <!--<link href="index.css" rel="stylesheet" type="text/css" /> -->
        <!---{% load staticfiles %}
        <link href="{% static "/index.css" %}" rel="stylesheet">-->
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://unpkg.com/classnames/index.js"></script>
        <script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
        <script src="https://unpkg.com/react-select/dist/react-select.js"></script>

        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    </head>
    <style>
        .h1 {
            text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px;
            margin: 100px 0 18px; vertical-align: 55px;}
        html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 0px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
/**
 * Side drawer CSS
 */
#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}
    </style>
    <body>
        <div id="sidedrawer" class="mui--no-user-select">
<div id="sidedrawer-brand" class="mui--appbar-line-height">
  <span class="mui--text-title">ASAP analytics</span>
</div>
<div class="mui-divider"></div>
<ul>
  <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/">
  <li>
    <strong>Dashboard</strong>
  </li>
  </a>
  <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/campaign_menu/">
  <li>
    <strong>Campaigns</strong>
  </li>
  </a>
  <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/analytics/">
  <li>
    <strong>Geo analytics</strong>
  </li>
  </a>
  <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/recommend/">
  <li>
    <strong>Recommendations</strong>
  </li>
  </a>
  <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/events/">
  <li>
    <strong>Events</strong>
  </li>
  </a>
</ul>
</div>
<header id="header">
  <div class="mui-appbar mui--appbar-line-height">
    <div class="mui-container-fluid">
       <h3>Dashboard</h3>
    </div>
  </div>
</header>
<div id="content-wrapper">
    <div class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
        </div>
    </div>
<!-- <footer id="footer">
  <div class="mui-container-fluid">
    <br>
        И тут можно что-то написать, например, контакты
  </div>
</footer> -->
    </body> 
    <script type="text/babel">
    </script>   
<!--    <script type="text/babel">
        const buttonStyle = {
            width: '200px',
        };
        class Choice extends React.Component { 
            render() {
                return (
                    <div className="mui-textfield">
                    </div>
                );
            }
        }
        ReactDOM.render(<Choice />, document.getElementById('sidedrawer'));
    </script> -->
  <!--      <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/campaign_menu/">Manage campaigns</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/analytics/">Geo analytics</a>
            <a href="http://ec2-52-49-133-55.eu-west-1.compute.amazonaws.com/market/recommend/">Recommend</a>
        </div>
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <table width=100%>
                <tr>
                     <th><h1 class=h1>ASAP analytics</h1></th>
                </tr>
                <tr>
                     <td align=center><img src="https://static.wixstatic.com/media/daa167_dd9cd9b061cc4cd1aa1af4df71f74243.png/v1/fill/w_1200,h_876,al_c,q_85,usm_0.66_1.00_0.01/daa167_dd9cd9b061cc4cd1aa1af4df71f74243.webp" width="50%" height="50%"/></td>
                </tr>
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "50%";
                document.getElementById("main").style.marginLeft = "50%";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
                document.body.style.backgroundColor = "white";
            }
        </script>     
        <script>
            var status = '{{ status_code }}'
            if (status == 0) {
                document.getElementById("error").style.visibility='visible';
            } else {
                document.getElementById("error").style.visibility='hidden';
            }
        </script>
    </body>
    -->
</html>
