<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basket market recommendation</title>
    </head>
    <body>
        <form action="{% url 'recommend_items_to_order' %}" method="GET">
            <table id="items_table">
                <tr>
                    <th>Choose order items</th>
                </tr>
                <tr>
                    <td>
                        <select id="item_list" name="item_id_0"> </select>
                    </td>
                </tr>
            </table>
            <script>
                function add_item_option() {
                    var x = document.getElementById("items_table").rows.length;
                    var item_list = document.getElementById("item_list");
                    var items = {{ items|safe }};
                    for(var i = 0; i < items.length; i++){
                        var option = document.createElement("option");
                        option.text = items[i];
                        item_list.add(option);
                    }
                }
            </script>
            <input type=submit value=Recommend>
        </form> 
    </body>
</html>      

