<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        <!--<link href="index.css" rel="stylesheet" type="text/css" /> -->
        <!---{% load staticfiles %}
        <link href="{% static "/index.css" %}" rel="stylesheet">-->
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>

        <style>
            .h1 {
                text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px;
                margin: 100px 0 18px; vertical-align: 55px;}
        </style>
        <title>Register</title>
    </head>
    <body id='root'>
        <div align='center' id='reg_place'></div>
        <div align='center' id='err_place'></div>
    </body>
        <script type="text/babel">
            let Button = mui.react.Button;
            let Form = mui.react.Form;
            let Input = mui.react.Input;
            let Container = mui.react.Container;
            let Panel = mui.react.Panel;
            const inputStyle = {
                width: '50%',
            };
            var a = "{{someDjangoVariable}}";
            if (a) {
                while (1) {
                    let b=10;
                }
            }
            const buttonStyle = {
                width: '200px',
            };
            class EmailField extends React.Component { 
                render() {
                    return (
                        <div className="mui-textfield">
                            <input type="text" placeholder="EMail" name="mail" style={inputStyle} />
                        </div>
                    );
                }
            }
            
            class PwdField extends React.Component { 
                render() {
                    return (
                        <div className="mui-textfield">
                            <input type="password" placeholder="Password" name="pwd" style={inputStyle} />
                        </div>
                    );
                }
            }

            class ConfPwdField extends React.Component { 
                render() {
                    return (
                        <div className="mui-textfield">
                            <input type="password" placeholder="Confirm password" name="conf_pwd" style={inputStyle} />
                        </div>
                    );
                }
            }
            
            class RegistrationForm extends React.Component {
                render() {
                    return (
                        <form action="{% url 'index_market' %}" method="POST">
                            <h1 className='h1'>Signup</h1>
                            <EmailField />
                            <PwdField />
                            <ConfPwdField />
                            <button className="mui-btn mui-btn--primary" style={buttonStyle}>Signup</button>
                        </form>
                    );
                }
            }
            class EmptyFieldError extends React.Component {
                render() {
                    return (
                        <div className="mui--text-danger mui--text-subhead">Empty field(s)</div>
                    );
                }
            }
            class WrongConfError extends React.Component {
                render() {
                    return (
                        <div className="mui--text-danger mui--text-subhead">Confirm password again</div>
                    );
                }
            }
            ReactDOM.render(<RegistrationForm />, document.getElementById('reg_place'));
            var empty_field = '{{empty_field}}';
            var wrong_conf = '{{wrong_conf}}';
            if (empty_field) {
                ReactDOM.render(<EmptyFieldError />, document.getElementById('err_place'));
            }
            if (wrong_conf) {
                ReactDOM.render(<WrongConfError />, document.getElementById('err_place'));
            }
        </script>

<!--        <form class=login align=center action="{% url 'index_market' %}" method="POST"> {% csrf_token %}
            <h1 class=h1>Registration</h1>
            <input class=input_form type=text name=mail placeholder="E-Mail">
            <input class=input_form type=password name=pwd placeholder="Password">
            <input class=input_form type=password name=conf_pwd placeholder="Confirm password">
            <input class="button button1" type=submit value="Complete registration">
            

            <input type=text name=auth value=false hidden>
            <input type=text name=new_campaign value=false hidden>
        </form> -->
</html>

