<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendations</title>
</head>
    <body>
        <table border="5" id="tncf_table"> <b>Tag number SVD recommendations for user ID {{user_id}}</b>
            <tr align="center">
                <th align="center">Row number</th>
                <th align="center">Venue</th>
            </tr>
        </table>
        <table border="5" id="vncf_table"> <b>Venue number SVD recommendations for user ID {{user_id}}</b>
            <tr align="center">
                <th align="center">Row number</th>
                <th align="center">Venue</th>
            </tr>
        </table>
        <table border="5" id="ib_table"> <b>Item-based recommendations for user ID {{user_id}}</b>
            <tr align="center">
                <th align="center">Row number</th>
                <th align="center">Venue</th>
            </tr>
        </table>
        <script>
            var venues = {{venues_tncf|safe}};
            for (var i = 0; i < venues.length; i++) {
                var table = document.getElementById('tncf_table');
                var row = table.insertRow(-1);
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                cell0.innerHTML = (i + 1).toString();
                cell1.innerHTML = venues[i];
            }
            
            var venues = {{venues_vncf|safe}};
            for (var i = 0; i < venues.length; i++) {
                var table = document.getElementById('vncf_table');
                var row = table.insertRow(-1);
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                cell0.innerHTML = (i + 1).toString();
                cell1.innerHTML = venues[i];
            }
            
            var venues = {{venues_ib|safe}};
            for (var i = 0; i < venues.length; i++) {
                var table = document.getElementById('ib_table');
                var row = table.insertRow(-1);
                var cell0 = row.insertCell(0);                                                                                              
                var cell1 = row.insertCell(1);
                cell0.innerHTML = (i + 1).toString();
                cell1.innerHTML = venues[i];
            }

        </script>
    </body>
</html>
                                                                                                                                            59,1          Bot
