<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <link href="//cdn.muicss.com/mui-0.9.6/css/mui.css" rel="stylesheet" type="text/css" />
        <!--<link href="index.css" rel="stylesheet" type="text/css" /> -->
        <!---{% load staticfiles %}
        <link href="{% static "/index.css" %}" rel="stylesheet">-->
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="//cdn.muicss.com/mui-0.9.6/react/mui-react.js"></script>
    </head>
 
    <style>
        .h1 {
            text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px;
            margin: 100px 0 18px; vertical-align: 55px;}
    </style>
    <title>Login</title>
    <body id='root'>
        <div align='center' id='login_place'></div>
        <div align='center' id='err_place'></div>
    </body>
    <script type="text/babel">
        let Button = mui.react.Button;
        let Form = mui.react.Form;
        let Input = mui.react.Input;
        let Container = mui.react.Container;
        let Panel = mui.react.Panel;
        const inputStyle = {
            width: '50%',
        };
        const buttonStyle = {
            width: '200px',
        };
        class EmailField extends React.Component { 
            render() {
                return (
                    <div className="mui-textfield">
                        <input type="text" placeholder="EMail" name="mail" style={inputStyle} />
                    </div>
                );
            }
        }
            
        class PwdField extends React.Component { 
            render() {
                return (
                    <div className="mui-textfield">
                        <input type="password" placeholder="Password" name="pwd" style={inputStyle} />
                    </div>
                );
            }
        }
            
        class RegistrationForm extends React.Component {
            render() {
                return (
                    <form action="{% url 'index_market' %}" method="POST">
                        <h1 className='h1'>Login</h1>
                        <EmailField />
                        <PwdField />
                        <button id='qqq' className="mui-btn mui-btn--primary" style={buttonStyle}>Login</button>
                    </form>
                );
            }
        }
        class NotRegisteredError extends React.Component {
            render() {
                return (
                    <div className="mui--text-danger mui--text-subhead">Not registered</div>
                );
            }
        }
        class EmptyFieldError extends React.Component {
            render() {
                return (
                    <div className="mui--text-danger mui--text-subhead">Empty field(s)</div>
                );
            }
        }
        ReactDOM.render(<RegistrationForm />, document.getElementById('login_place'));
        var not_registered = '{{not_registered}}';
        if (not_registered) {
            ReactDOM.render(<NotRegisteredError />, document.getElementById('err_place'));
        }
    </script>

<!--
        <form class=login align=center action="{% url 'index_market' %}" method="GET"> {% csrf_token %}
            <h1 class=h1>Login</h1>
            <input class=input_form type=text name=mail placeholder="E-Mail">
            <input class=input_form type=password name=pwd placeholder="Password">
            <input class="button button1" type=submit value="Sign In">
            <input type=text name=auth value=true hidden> 
        </form>
    </body>
-->
</html>
