.h1 {
                text-align: center; font-family: 'Roboto', sans-serif; font-size: 40px; font-weight: normal; line-height: 58px; 
                margin: 100px 0 18px; vertical-align: 55px;}
        .button {
                background-color: #330000; width: 300px; height: 50px; font-family: 'Impact'; border: none; color: #990000; padding: 15px 32px; text-align: center;
                cursor: pointer; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; moz-border-radius: 50px;
                -webkit-border-radius: 10px; -webkit-transition-duration: 0.5s; margin: 25px;}
            .button1 {
                background-color: #330000; 
                color: #f9f2ec;}
            .button1:hover {
                background-color: #f9f2ec;
                color: #330000;}
