<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Details</title>
    </head>
    <body>
        <table border="5">
            <tr align="center">
                <th align="center">Venue</th>
                <th align="center">Status</th>
                <th align="center">Created at</th>
                <th align="center">Distance in meters</th>
                <th align="center">Tags</th>
                <th align="center">Message</th>
            </tr>
            <tr align="center">
                <td align="center" id="venue"></td>
                <td align="center" id="status">
                    {{ status|safe }}
                </td>
                <td align="center" id="created">
                    {{ date_time }}
                </td>
                <td align="center" id="distance">
                    {{ radius_meters }}
                </td>
                <td align="center" id="content"></td>
                <td align="center" id="message"></td>
            </tr>
        </table>
        <script>
            document.getElementById('venue').innerHTML = "{{ venue_name|safe }}";
            document.getElementById('message').innerHTML = "{{ message|safe }}";
            var content = {{ content | safe }};
{#            content = content.replace(/u/g, '')#}
{#            content = content.replace(/'/g, '"')#}
{#            content = JSON.parse(content);#}
            var final_content = "";
            for (var i = 0; i < content.length; i++) {
{#                content[i] = content[i].replace(/\\u[\dA-F]{4}/gi, function (match) {#}
{#                    return String.fromCharCode(parseInt(match.replace(/\\u/g, ''), 16));#}
{#                })#}
                if (i != content.length - 1) {
                    final_content = final_content + content[i] + ", ";
                } else {
                    final_content = final_content + content[i]
                }
            }
            document.getElementById('content').innerHTML = final_content;
        </script>
    </body>
</html>
