<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Start recommendation</title>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    </head>
    <body>
        <div id='goose'></div>
        <form action="{% url 'recommend' %}" method="GET">
	    <table>
                <tr>
                    <th>Choose user ID</th>
                </tr>
                <tr>
                    <td>
                        <select id="user_list" name="user_id"> </select>
                    </td>
                </tr>
            </table>
	    <script>
                import React from 'react';
                import ReactDOM from 'react-dom';
                ReactDOM.render(
                    <h1>Hello, world!</h1>,
                    document.getElementById('goose')
                );
                var user_list = document.getElementById("user_list");
                var users = {{ users|safe }};
		users = users.sort()
                for(var i = 0; i < users.length; i++){
                    var option = document.createElement("option");
                    option.text = users[i];
                    user_list.add(option);
                }
            </script>
            <input type=submit value=Recommend>
        </form>
    </body>
</html>

