<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User analytics for user ID</title>
</head>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <div id="YMapsID" style="width:800px;height:600px"></div>
    <body>
	<table border="5" id="pos_table"> <b>Main locations on user ID {{user_id}}</b>
            <tr align="center">
		<th align="center">ID</th>
                <th align="center">Latitude</th>
                <th align="center">Longitude</th>
		<th align="center">Mid time</th>
            </tr>
        </table>
	<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
	<div id="YMapsID_original" style="width:800px;height:600px"></div>
	<script>
 	    var centers = {{centers}};
	    var time_centers = {{time_centers|safe}};
	    var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
	    map.addControl(new YMaps.TypeControl());
	    map.addControl(new YMaps.ToolBar());
	    map.addControl(new YMaps.Zoom());
            map.setCenter(new YMaps.GeoPoint(centers[0][1], centers[0][0]), 10);
	    for (var i = 0; i < centers.length; i++) {
		var table = document.getElementById('pos_table');
		var row = table.insertRow(-1);
		var cell0 = row.insertCell(0)
		var cell1 = row.insertCell(1);
		var cell2 = row.insertCell(2);
		var cell3 = row.insertCell(3);
		cell0.innerHTML = i.toString()
		cell1.innerHTML = centers[i][0];
    		cell2.innerHTML = centers[i][1];
		cell3.innerHTML = time_centers[i];		
		var placemark = new YMaps.Placemark(new YMaps.GeoPoint(parseFloat(centers[i][1]), parseFloat(centers[i][0])), {hideIcon: false});
		placemark.description = i.toString();
                map.addOverlay(placemark);
	    }


	    var original = {{original}};
            var map_original = new YMaps.Map(YMaps.jQuery("#YMapsID_original")[0]);
            map_original.addControl(new YMaps.TypeControl());
            map_original.addControl(new YMaps.ToolBar());
            map_original.addControl(new YMaps.Zoom());
            map_original.setCenter(new YMaps.GeoPoint(original[0][1], original[0][0]), 10);
            for (var i = 0; i < original.length; i++) {
                var placemark = new YMaps.Placemark(new YMaps.GeoPoint(parseFloat(original[i][1]), parseFloat(original[i][0])), {hideIcon: false});
                map_original.addOverlay(placemark);
            }

        </script>
    </body>
</html>
