<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
        <title>Sign In</title>
    </head>
 
    <style>
            .h1 {
                 color: #330000; text-align: center; font-family: Impact, Charcoal, sans-serif; font-size: 40px; font-weight: normal; line-height: 58px;                                            margin: 10px 0 18px; text-shadow: 0px 0px 40px black; vertical-align: 55px;}
            .login {
                 width: 350px; position: absolute; top: 10%; left: 50%; margin-left: -175px}
            .input_form {
                width: 350px; padding: 20px 0px; background: transparent; border: 0; border-bottom: 1px solid #435160; outline: none; color: black; font-size: 16px}
            .button {
                background-color: #FFE4C4; width: 300px; height: 50px; font-family: 'Impact'; border: none; color: #990000; padding: 15px 32px; text-align: center;
                cursor: pointer; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; moz-border-radius: 50px;
                -webkit-border-radius: 10px; -webkit-transition-duration: 0.5s; margin: 25px;}
            .button1 {
                background-color: #330000;
                color: #f9f2ec;}
            .button1:hover {
                background-color: #f9f2ec;
                color: #330000;}
        </style>
        <title>Sign In</title>
    </head>
    <body>
        <form class=login align=center action="{% url 'index_market' %}" method="GET"> {% csrf_token %}
            <h1 class=h1>Sign In</h1>
            <input class=input_form type=text name=mail placeholder="E-Mail">
            <input class=input_form type=password name=pwd placeholder="Password">
            <input class="button button1" type=submit value="Sign In">
            <input type=text name=auth value=true hidden> 
        </form>
    </body>
</html>
