<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Venues</title>
    </head>
    <body>
        <select size = "20" multiple name = "venue_list">
                <th class="not-sortable">Name</th>
            <tr>
                <td>First TD</td>
            </tr>
            <tr>
                <td>Second TD</td>
            </tr>
        </select>
        <script>
            var venues = document.getElementById("venue_list");
{#            var select = venues.elements.venue_list;#}
            var data = {{ data|safe }};
            for(var i = 1, td; i < data.length; i++){
                newOption = new Option(data[i], data[i]);
                venues.appendChild(newOption);
            }
        </script>
    </body>
</html>

